meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Investigación de la oferta exportable y procesamiento de la información
meta(meta name="description" content="Actualmente, las empresas buscan, de una u otra forma, fidelizar sus clientes identificando sus gustos y preferencias para así aumentar las ventas de productos o servicios. Y es por esto que utilizan la investigación de mercados, donde se identifican, obtienen, registran, analizan, presentan y distribuyen datos e información sistemática, acerca de una situación específica que enfrenta la empresa en el mercado, con el propósito de mejorar la toma de decisiones para la solución de problemas y la identificación de oportunidades en este escenario de intercambio comercial.  ")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")