h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 260101061-01 - Recolectar los datos de acuerdo con técnicas y métodos de investigación.
            li
                span 260101061-02 - Registrar la información recolectada de acuerdo con herramientas tecnológicas disponibles.
            li
                span 260101061-03 - Analizar la información registrada teniendo en cuenta variables cualitativas y cuantitativas
