h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/') 
                    +navTemaItem('1', '¿Qué es la investigación de mercados?', 'main.html#page/Que_es_la_investigacion_de_mercados/')
                    +navTemaItem('2', 'Base de datos y aplicaciones tecnológicas', 'main.html#page/Base_de_datos_y_aplicaciones_tecnologicas/')