.container
    .header-ecored
        h1 1 ¿Qué es la investigación de mercados?
    .jumbotron.bg-white 
        img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid 
        p.mt-5 La Investigación de Mercados (IM) consiste en el diseño, la recopilación, el análisis y el reporte informativo de conclusiones y recomendaciones; tomando como referente, los datos hallados en la situación específica sometida a indagación por parte de la empresa.
        p En este sentido, Prieto (2013), define la investigación de mercados como “una herramienta clave para la toma de decisiones, porque le permite a la gerencia de mercadeo, de acuerdo con sus objetivos empresariales en el corto, mediano y largo plazo, planificar las acciones que el mercado y la empresa necesitan.”
        p Para comprender mejor la esencia de la investigación de mercados, su impacto e importancia para los principales actores del mercado, es necesario citar algunas definiciones de diferentes autores, estudiosos del tema y personas del común, que a veces definen mejor las cosas. De esta manera, usted como gerente podrá tener una visión más amplia al respecto:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img3.png").img-fluid 
        p.mt-5 “Un enfoque sistemático y objetivo del desarrollo y la provisión de información, aplicable al proceso de la toma de decisiones en la gerencia de mercadeo” (Kinnear y Taylor, 1998).
        p “Es la mejor manera de poder conocer a los consumidores y clientes, para mejorar la participación y el posicionamiento en el mercado” (Prieto Herrera, 2013).
        p “Es la identificación, recopilación, análisis y difusión de la información de manera sistemática y objetiva, con el propósito de mejorar la toma de decisiones relacionadas con la identificación y solución de problemas y oportunidades de mercadotecnia” (Naresh Malhotra, 2004).
        p Las anteriores definiciones corroboran y soportan, de manera precisa, el punto de interés hacia la investigación de mercados, y cómo a través de ella la organización y la gerencia de mercadeo puede planificar y ejecutar mejor las decisiones administrativas y comerciales, en aras a cumplir sus metas, satisfacer las necesidades y deseos bien definidos e identificados de sus consumidores, ser más competitiva, rentable y obtener el favoritismo del consumidor. 
        .sub-ecored#11.mt-5
            h2 1.1 Tipos de investigación de mercados 
        p.mt-5 El alcance de la investigación está dado por la capacidad técnica que ella ofrece para tomar decisiones.
        img.img-a(src="assets/images/pages/ilustraciones/img4.png").img-fluid 
        p.mt-5 El no conocer amplia y detalladamente los cursos de acción que soportan cualquier decisión, le sugiere al gerente de mercadeo la necesidad de adquirir conocimientos preliminares para lograr una formulación más precisa de un problema u oportunidad  identificados; también le indica que necesita adquirir una mejor perspectiva de las variables que intervienen en una situación; en fin, esa ignorancia natural acerca de algo desconocido impele al gerente a enriquecer su conocimiento sobre la situación, a aprender de los orígenes y las causas de los problemas que dan forma a la situación en estudio.
        p En resumen, cuando el estado del arte acerca de una situación específica es, para el gerente, como el anteriormente descrito, el problema de decisión y la situación de mercado deberán abordarse en primera instancia mediante diseño y desarrollo de una investigación exploratoria (Plazas, 2011).
        p De acuerdo con el autor, las ventajas de la investigación exploratoria radica en que permite al gerente identificar previamente los cursos de acción y adquirir mayor grado de conocimiento sobre diferentes variables que impactan en la problemática, para sustentar con mayor claridad la formulación del problema. Por ejemplo: mientras que para una investigación concluyente que busca a través de una encuesta ponderar precios, sitios de compra, gramos o marcas que compra, con una investigación exploratoria, a través de una entrevista, focus group, mediante la observación o un estudio de etnografía, se pueden identificar las diferentes variables que influyen en la decisión de consumo, como aspectos culturales, generacionales, preferencias, contraindicaciones, estilos de vida y todos los aspectos que puedan influenciar en el consumo. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img5.png").img-fluid 
        p.mt-5 A su vez, cuando se tienen previamente identificados los cursos de acción, el gerente requiere información que le brinde la posibilidad de evaluar dichos cursos de acción, ponderando su respectivo nivel de incertidumbre y posteriormente seleccionar el mejor de ellos, el óptimo para la toma de una decisión. En esta oportunidad el problema de decisión se enfrenta a través del diseño y desarrollo de una investigación concluyente.
        p El hecho fundamental, que, sin lugar a dudas, legitima que se llevó a cabo una investigación exploratoria o una concluyente, lo constituye el método de selección de los elementos que aportaron los datos o la información necesaria en el estudio de mercado. Al respecto, Plazas (2011) plantea que
        p Las técnicas de recolección, el tipo de preguntas, los formatos de captura de datos y de información, o los procedimientos de análisis de resultados no son propios de un tipo particular de investigación, no están asociados unívocamente a una exploratoria o a una concluyente, por ende, no definen, no delimitan, no establecen el tipo de investigación que se efectuó o se efectuará.
        p Este método de investigación permite cuantificar las características de las variables que dieron forma a la formulación de ese problema objeto de estudio, identificado tal vez mediante la investigación exploratoria. 
        h3.mt-5 Ejemplos de tipos de Investigación
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img6.svg").img-fluid
        .header-arrow.my-5.py-4
            h3.text-center Para ampliar mejor las técnicas usadas en cada método de investigación, vamos a #[br] observar la siguiente gráfica:        
        img.img-a(src="assets/images/pages/ilustraciones/img7.svg").img-fluid
        p.mt-5 A continuación se ilustra un ejemplo de la aplicación del método de investigación concluyente para un estudio del mercadeo de productos de pastelería y repostería, en el cual, mediante una encuesta, se busca ponderar las variables objetos de estudio que inciden en la variables ventas e ingresos de este negocio, como son, conocimiento y preferencias del consumidor sobre productos, así como las frecuencias de visita, inversión en cada visita, sitio de compra, horarios habituales de consumo y bebidas con las que usualmente acompaña estos productos de repostería.
        h3.mt-5 Ejemplo encuesta método e investigación concluyente
        a.mt-5(href="media/Cuestionario.pdf" target="_blank").media-link      
            img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
            .media-link-title
                p #[strong Anexo]. Guía cuestionario para mercadeo de productos de pastelería y repostería.
        p.mt-5 En la investigación concluyente existen dos grandes grupos: la concluyente descriptiva y la concluyente causal. 
        p La investigación concluyente descriptiva es apropiada cuando, además de la necesidad de tomar una decisión, se desea detallar, pormenorizar, describir y cuantificar las características de la situación en estudio; también es oportuna para detectar asociación o relación entre variables y cuantificar el grado de esa dependencia; por otro lado, la investigación concluyente descriptiva es conveniente siempre que se pretenda llevar a cabo predicciones o pronósticos respecto a la ocurrencia de algún fenómeno de mercadeo. 
        p De acuerdo con Plazas (2011), la investigación concluyente causal posibilita conocer y cuantificar las relaciones de causa y efecto existentes entre las variables presentes en las decisiones de mercadeo; permite entender cómo se da esa relación entre los aspectos que ocasionan un fenómeno y el efecto que produce. 
        h3.mt-5 Gráfica investigación concluyente
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img8.svg").img-fluid            
        .sub-ecored#12.mt-5
            h2 1.2 Etapas y procesos de la investigación de mercados
        p.mt-5 La planificación de cualquier investigación de mercados requiere de la existencia de las siguientes etapas consecutivas en el tiempo y que estén interrelacionadas entre ellas, puesto que cada una depende en algún modo de todas las demás:
        .row.justify-content-center.align-items-center.mt-5
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img9.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img10.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img11.svg").img-fluid                  
        .row.justify-content-center.align-items-stretch
            .col-3.mx-2.pt-3.px-2.pb-2.colorCard1
                p Determinación del problema a investigar.
            .col-3.mx-2.pt-3.px-2.pb-2.colorCard1
                p Determinación de objetivos de la investigación.
            .col-3.mx-2.pt-3.px-2.pb-2.colorCard1
                p Obtención de la #[br] información.
        .row.justify-content-center.align-items-center.mt-5
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img12.svg").img-fluid 
            .col-3.sup-1.mx-2
                img.img-a(src="assets/images/pages/ilustraciones/img13.svg").img-fluid                
        .row.justify-content-center.align-items-stretch
            .col-3.mx-2.pt-3.px-2.pb-2.colorCard1
                p Tratamiento y #[br] análisis de datos.
            .col-3.mx-2.pt-3.px-2.pb-2.colorCard1
                p Interpretación de resultados y presentación de conclusiones (Jiménez, 2013).             
        p.mt-5 Con la siguiente tabla se busca validar la información anterior sobre el proceso de planificación de la investigación de mercados desde la óptica de otro autor:
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img14.svg").img-fluid 
        p.mt-5 De acuerdo con la anterior gráfica, el diagnóstico actual define aspectos como el objeto o propósito del estudio, momento actual de la empresa, sus fortalezas, oportunidades, debilidades y amenazas. Así mismo, en el diseño de la investigación se identifican las preguntas claves que debe responder la investigación de mercados, las fuentes de datos, cómo hacer el cuestionario e identificar la información urgente.
        p Los instrumentos y la recopilación de datos identifican ¿quién recopilará los datos?, ¿Cuánto dura la recopilación?, da claridad al procedimiento y garantiza el grado de capacitación del personal que ejecutará el proceso. La estadística y el muestreo identifican la población, la necesidad de la muestra, el tamaño de esta y la manera que se escogerá. Mientras que para la fase de análisis de datos es clave el análisis de variables, criterios de evaluación y necesidades de software estadístico. 
        p También es importante dar claridad a ¿quién leerá el informe final?, ¿Número de presentaciones necesarias, la misma publicación del informe, posibilidad de recomendaciones para la gerencia y disponibilidad de equipos? Para finalizar, el autor recomienda que en la fase de evaluación se reafirmen las necesidades de asesoría externa, cumplimiento del cronograma, costo de la investigación, logro de objetivos, acciones correctivas y necesidades de capacitación.
        h3.mt-5 Técnicas utilizadas en la investigación exploratoria       
        table.mt-5
            tbody
                tr
                    th.col-tab-t1 
                        h3.text-center TÉCNICA
                    th.col-tab-t1 
                        h3.text-center DESCIPCIÓN
                    th.col-tab-t1 
                        h3.text-center VENTAJAS
                    th.col-tab-t1 
                        h3.text-center DESVENTAJAS    
                tr
                    td.col-tab
                        p Grupo focal
                    td.col-tab  
                        p Pequeños grupos de discusión dirigidos por un moderador capacitado
                    td.col-tab 
                        p Puede ser rápida Múltiple perspectiva Flexibilidad Roles grupales
                    td.col-tab 
                        p Resultado no general Veta temas Sensibles Costosa
                tr
                    td.col-tab 
                        p Entrevista
                    td.col-tab  
                        p Entrevista individual profunda cara a cara
                    td.col-tab 
                        p Profundidad por caso Comprensión del comportamiento
                    td.col-tab 
                        p No generalizable Muy caro por cada entrevista
                tr
                    td.col-tab 
                        p Observación
                    td.col-tab  
                        p Se registra la observación de fenómenos
                    td.col-tab 
                        p Es discreta Patrones reales
                    td.col-tab 
                        p Puede ser cara Poca profundidad
                tr
                    td.col-tab 
                        p Pseudocompra (mystery shopper)
                    td.col-tab  
                        p Visitas anónimas de simulación de compra
                    td.col-tab 
                        p Evaluación real Directa
                    td.col-tab 
                        p No generalizable Presión y evaluación
                tr
                    td.col-tab 
                        p Técnicas proyectivas
                    td.col-tab  
                        p Muestran imágenes ambiguas
                    td.col-tab 
                        p Flexible Trata temas sensibles
                    td.col-tab 
                        p Alta dependencia de la interpretación
        .sub-ecored#13.mt-5
            h2 1.3 Métodos e instrumentos de recolección de datos
        p.mt-5 Los instrumentos de investigación de mercados se constituyen en un recurso muy importante, en la medida que facilitan el acercamiento a la solución de un problema, mediante el aporte de datos derivados de la información recolectada con su aplicación. De igual importancia para la investigación resulta la determinación de un modelo conducente a la valoración de la información obtenida, por medio de la formulación de concepciones de herramientas que favorezcan y dinamicen estos procesos. 
        .row.justify-content-center.align-items-center.mt-5
            .col-5
                img.img-a(src="assets/images/pages/ilustraciones/img15.svg").img-fluid
            .col-5
                p De allí que los instrumentos se piensen atendiendo a los actores que intervienen en el proceso, desde sus necesidades, intereses y motivaciones. 
                p Entendida la Investigación de Mercados (IM) como la búsqueda ordenada, sistemática y objetiva de la información requerida en la identificación y análisis de necesidades de los consumidores, se define como instrumento a la herramienta utilizada para ejecutar tal fin.
        .sub-ecored#141.mt-5
            h2 1.4.1 Método de la encuesta
        p.mt-5 La encuesta es una técnica de investigación en la que se recopila información de una población o muestra de personas a través de un cuestionario. Las encuestas pueden ser: personales, por correo, por teléfono y mixtas. 
        p “Encuesta personal: es una encuesta, máximo de una hora, que busca información mediante el contacto directo entre un entrevistador con las personas seleccionadas para tal fin, llamados encuestados” (Prieto, 2013).
        .header-arrow.my-5.py-4
            h3.text-center Pautas para hacer entrevistas y cualidades básicas de un buen entrevistador:
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='media/01/index.html', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .sub-ecored#142.mt-5
            h3 1.4.2 Método de observación
        p.mt-5 Consiste en el reconocimiento y registro sistemático del comportamiento de personas, objetos y eventos, sin comunicarse con ellos. Los observadores generalmente observan acciones físicas, expresiones verbales, faciales y corporales, tonos de voz, ubicaciones especiales, tiempos de espera, objetos físicos y registros fotográficos.
        p Existen cinco tipos de observación: 
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='media/02/index.html', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        h3.mt-5 Tipos de observación
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img18.svg").img-fluid
        .sub-ecored#143.mt-5
            h3 1.4.3 Método experimental                
        p.mt-5 Es aquella investigación en la cual una o más variables independientes se manipulan o controlan de manera consciente y se mide su efecto sobre una variable o más variables dependientes.
        .row.justify-content-center.align-items-stretch.mt-5
            .col-3.mx-2.p-4.colorCard2        
                strong La variable independiente 
                p Es aquella que se puede manipular, cambiar o modificar en forma independiente a cualquier otra variable y se convierte en la influencia causal del experimento.
            .col-3.mx-2.p-4.colorCard3 
                strong Las variables dependientes 
                p Son las medidas tomadas sobre las unidades de prueba que dependen a su vez de la manipulación del investigador.            
            .col-3.mx-2.p-4.colorCard2                        
                strong Las unidades de prueba 
                p Son las personas naturales o jurídicas a las que se les aplica el experimento y se les mide u observa.
        p.mt-5 Por ejemplo, una nueva campaña publicitaria (variable independiente) se aplicó en un mercado de prueba (unidad de prueba) y allí se incrementaron las ventas, pero no ocurrió en los mercados donde no se hizo la campaña (unidad de control). El investigador puede tener la seguridad de que la campaña sí incidió en el aumento de las ventas (variable dependiente) de ese mercado.
        h3.mt-5 Se usan por lo menos dos formas de hacer experimentación:
        .row.justify-content-center.align-items-stretch.mt-5
            .col-3.mx-2.p-4.colorCard2
                strong Experimento de laboratorio: 
                p Es aquel donde el investigador diseña una situación con reglas precisas y manipula algunas variables mientras controla otras. #[br] (Prieto, 2013, p. 101)
            .col-3.mx-2.p-4.colorCard3
                strong Experimento de campo: 
                p Es aquel donde el investigador se enfrenta a una situación real en donde manipula algunas variables mientras controla otras, pero sujeto a los cambios del entorno #[br] (Prieto, 2013, p. 101).
        .sub-ecored#144.mt-5
            h3 1.4.4 La estadística
        p.mt-5 Proceso de recopilar, ordenar, analizar e interpretar datos, hechos y observaciones de un fenómeno determinado. 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img19.png").img-fluid
        h3.mt-5 Se reconocen dos tipos de estadística: 
    
        .row.justify-content-center.align-items-center.mt-5
            .col-6
                img.img-a.img-1(src="assets/images/pages/ilustraciones/img20.svg").img-fluid
            .col-6
                .jumbotron.colorCard4.mt-4
                    .list.mt-5
                        .list__item
                            .list__item__bulletNumber
                                span 1
                        .list__txt 
                            span Estadística descriptiva o deductiva, la cual trabaja con características como promedios o variabilidad de datos sin profundizar, pero facilitando las comparaciones de los hechos. 
                .jumbotron.colorCard4
                    .list.mt-5
                        .list__item
                            .list__item__bulletNumber
                                span 2
                        .list__txt 
                            span Estadística analítica o inductiva, que pretende explicar el comportamiento de lo observado, probar la validez de los resultados y descubrir las causas de su actuación para lograr conclusiones más precisas.
        h3.mt-5 Muestreo
        p.mt-5 El muestreo es algo que se hace desde hace mucho tiempo, pero a lo que no le damos el carácter científico, que se le abona cuando lo tratamos en una investigación de mercados. El objetivo del muestreo es conocer las características de una población cuando esta no puede ser examinada en su totalidad. El cálculo de probabilidades y la estadística son el fundamento matemático del muestreo.
        p Además, ya existe todo tipo de software que le puede brindar la ayuda necesaria para esta clase de operaciones. Lo que se debe ensayar es la interpretación de los datos que le suministra el computador (Prieto, 2013, p.101).
        .sub-ecored#15.mt-5
            h3 1.5 La investigación de mercados internacionales
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img21.png").img-fluid
        p.mt-5 Cualquier organización del mundo, por efectos de apertura de mercados, competitividad, tratados de libre comercio o la misma globalización, debe tener una proyección como empresa global o de internacionalización. Algunas ya tienen como proyección un proceso de ampliación de mercados o proceso de internacionalización, por lo que se requiere como organización plantear y ejecutar una investigación de mercados internacionales, con el objetivo de tener un mayor grado de éxito en estos nuevos mercados, mayor aceptación de sus compradores y consumidores con miras de tener clientes, a través del amplio conocimiento cultural colectivo de estos nuevos territorios.
        p Además, la investigación profunda de estos nuevos mercados le permite a la organización construir modelos de negocios con el fin de minimizar el fracaso y maximizar la inversión. Es importante definir el ¿Qué se va a hacer?, ¿Quién va a hacer el plan de investigación comercial?, ¿La realizará la misma empresa o lo hará un agente externo?, ¿Cómo y dónde?, todos estos factores hacen referencia a los planteamientos de búsqueda de información, herramientas e instrumentos.
        p Se recomienda que la organización tenga implementado detalladamente un protocolo para definir cuidadosamente las preguntas anteriores. Además, se deben tener en cuenta dentro de la técnica, la capacidad para identificar nuevos paradigmas dentro de la investigación de mercados internacionales, enfocadas a nuevas técnicas de competitividad y uso de nuevas tecnologías.
        section.mt-5