.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Base de datos:
            | Es el conjunto de datos informativos organizados en un mismo contexto para su uso y vinculación; su estructura está compuestas por tablas.
            strong.mr-2 Canales de distribución:
            | Grupo de intermediarios relacionados entre sí, que hacen llegar productos y servicios de los fabricantes a los consumidores y usuarios.
            strong.mr-2 Comerciante exportador:
            | Comerciante que opera en el país del fabricante y compra bienes para exportarlos.
            strong.mr-2 Competencia:
            | Conjunto de organizaciones que comercializan un mismo producto y compiten entre sí por el liderazgo de la categoría.
            strong.mr-2 Competidores:
            | Aquellas empresas que ofrecen el mismo tipo de producto o servicio y compiten por el liderazgo de esa categoría.
            strong.mr-2 Competitividad:
            | Capacidad para satisfacer en un mayor grado las necesidades o deseos del mercado que sus competidores.
            strong.mr-2 Consumo:
            | Acción de compra repetitiva en el tiempo.
            strong.mr-2 Datos primarios:
            | Datos nuevos reunidos específicamente para el proyecto a mano.
            strong.mr-2 Datos secundarios:
            | Datos disponibles, ya reunidos para algún otro propósito.
            strong.mr-2 Empaque:
            | Contenedor o envoltura que sirve para proteger al producto en su distribución.
            strong.mr-2 Encuesta:
            | Método de obtención de datos primarios que se aplica entrevistando a una persona, por teléfono, por correo o por internet.
            strong.mr-2 Estilos de vida:
            | Hábitos que se relacionan con las actividades, intereses y opiniones de una persona.
            strong.mr-2 Estrategia:
            | Plan de acción amplio por el cual una organización trata de alcanzar sus objetivos.
            strong.mr-2 Etiqueta:
            | Parte del producto que contiene la información clave acerca de este y del vendedor.
            strong.mr-2 Fenómeno mercadeo:
            | Es un acontecimiento determinado que se comparte y se difunde de forma natural. El excesivo o repentino interés por parte de la audiencia en un suceso o evento concreto, hace que se propague.
            strong.mr-2 Gestión:
            | Actividad dirigida al mejoramiento de los procesos de una organización, con el objetivo de mejorar su productividad y administración.
            strong.mr-2 Intermediarios:
            | Personas naturales o jurídicas que facilitan al consumidor el conocimiento y la obtención del producto.
            strong.mr-2 Mercadeo:
            | Proceso social y gerencial por el que los individuos y grupos obtienen lo que necesitan y desean, creando e intercambiando productos y valor con otros (Kotler, 2001).
            strong.mr-2 Mercado meta:
            | Es aquel resultado de la segmentación de mercados, para enfocar los recursos operativos, humanos y financieros de la organización.
            strong.mr-2 Minería de datos:
            | Método usado para identificar patrones y relaciones significativas en masas de datos que serían ignorados o no reconocibles para los investigadores.
            strong.mr-2 Ofimática:
            | Conjunto de programas informáticos que se aplican a las actividades de las oficinas.
            strong.mr-2 Plan de mercadeo:
            | Resumen ejecutivo donde se analizan las situaciones y capacidades internas y externas de la organización y, de acuerdo con esto y al pronóstico del comportamiento de las mismas, se trazan objetivos comerciales para el corto, mediano y largo plazo.
            strong.mr-2 Planeación estratégica:
            | Proceso administrativo de conjugar los recursos de una empresa con las oportunidades del mercado en el largo plazo.
            strong.mr-2 Precio:
            | Cantidad de dinero que un comprador, cliente o consumidor está dispuesto a pagar por el producto.
            strong.mr-2 Producto:
            | Cualquier cosa que se ofrece al mercado y satisface una necesidad o un deseo.
            strong.mr-2 Promoción:
            | Comunicación persuasiva hacia públicos objetivos que brinda beneficios tangibles al producto o servicio.
            strong.mr-2 Proveedor:
            | Persona que provee a las empresas bienes y servicios para que esta pueda ofrecer los suyos en el mercado.
            strong.mr-2 Segmentación de mercados:
            | La división de un mercado total de un bien o un servicio en varios grupos menores y homogéneos.
            strong.mr-2 Segmentación demográfica:
            | Subdivisión de mercados basados en factores de población como tamaño, edad y crecimiento.
            strong.mr-2 Segmentación geográfica:
            | Subdivisión de mercados basados en factores como la ubicación de la población.
            strong.mr-2 Segmentación psicográfica:
            | Subdivisión de mercados basados en factores como la dimensión de la personalidad, características de estilo de vida y valores.
            strong.mr-2 Servicio:
            | Actividad identificable e intangible que es el principal objeto de una transacción destinada a proveer satisfacción de necesidades o deseos.