.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Base de datos:
            | es el conjunto de datos informativos organizados en un mismo contexto para su uso y vinculación; su estructura está compuestas por tablas.
        p    
            strong.mr-2 Canales de distribución:
            | grupo de intermediarios relacionados entre sí, que hacen llegar productos y servicios de los fabricantes a los consumidores y usuarios.
        p            
            strong.mr-2 Comerciante exportador:
            | comerciante que opera en el país del fabricante y compra bienes para exportarlos.
        p            
            strong.mr-2 Competencia:
            | conjunto de organizaciones que comercializan un mismo producto y compiten entre sí por el liderazgo de la categoría.
        p            
            strong.mr-2 Competidores:
            | aquellas empresas que ofrecen el mismo tipo de producto o servicio y compiten por el liderazgo de esa categoría.
        p            
            strong.mr-2 Competitividad:
            | capacidad para satisfacer en un mayor grado las necesidades o deseos del mercado que sus competidores.
        p            
            strong.mr-2 Consumo:
            | acción de compra repetitiva en el tiempo.
        p            
            strong.mr-2 Datos primarios:
            | datos nuevos reunidos específicamente para el proyecto a mano.
        p            
            strong.mr-2 Datos secundarios:
            | datos disponibles, ya reunidos para algún otro propósito.
        p            
            strong.mr-2 Empaque:
            | contenedor o envoltura que sirve para proteger al producto en su distribución.
        p            
            strong.mr-2 Encuesta:
            | método de obtención de datos primarios que se aplica entrevistando a una persona, por teléfono, por correo o por internet.
        p            
            strong.mr-2 Estilos de vida:
            | hábitos que se relacionan con las actividades, intereses y opiniones de una persona.
        p            
            strong.mr-2 Estrategia:
            | plan de acción amplio por el cual una organización trata de alcanzar sus objetivos.
        p            
            strong.mr-2 Etiqueta:
            | parte del producto que contiene la información clave acerca de este y del vendedor.
        p           
            strong.mr-2 Fenómeno mercadeo:
            | es un acontecimiento determinado que se comparte y se difunde de forma natural. El excesivo o repentino interés por parte de la audiencia en un suceso o evento concreto, hace que se propague.
        p            
            strong.mr-2 Gestión:
            | actividad dirigida al mejoramiento de los procesos de una organización, con el objetivo de mejorar su productividad y administración.
        p            
            strong.mr-2 Intermediarios:
            | personas naturales o jurídicas que facilitan al consumidor el conocimiento y la obtención del producto.
        p            
            strong.mr-2 Mercadeo:
            | proceso social y gerencial por el que los individuos y grupos obtienen lo que necesitan y desean, creando e intercambiando productos y valor con otros (Kotler, 2001).
        p            
            strong.mr-2 Mercado meta:
            | es aquel resultado de la segmentación de mercados, para enfocar los recursos operativos, humanos y financieros de la organización.
        p            
            strong.mr-2 Minería de datos:
            | método usado para identificar patrones y relaciones significativas en masas de datos que serían ignorados o no reconocibles para los investigadores.
        p            
            strong.mr-2 Ofimática:
            | conjunto de programas informáticos que se aplican a las actividades de las oficinas.
        p            
            strong.mr-2 Plan de mercadeo:
            | resumen ejecutivo donde se analizan las situaciones y capacidades internas y externas de la organización y, de acuerdo con esto y al pronóstico del comportamiento de las mismas, se trazan objetivos comerciales para el corto, mediano y largo plazo.
        p            
            strong.mr-2 Planeación estratégica:
            | proceso administrativo de conjugar los recursos de una empresa con las oportunidades del mercado en el largo plazo.
        p            
            strong.mr-2 Precio:
            | cantidad de dinero que un comprador, cliente o consumidor está dispuesto a pagar por el producto.
        p            
            strong.mr-2 Producto:
            | cualquier cosa que se ofrece al mercado y satisface una necesidad o un deseo.
        p            
            strong.mr-2 Promoción:
            | comunicación persuasiva hacia públicos objetivos que brinda beneficios tangibles al producto o servicio.
        p            
            strong.mr-2 Proveedor:
            | persona que provee a las empresas bienes y servicios para que esta pueda ofrecer los suyos en el mercado.
        p            
            strong.mr-2 Segmentación de mercados:
            | la división de un mercado total de un bien o un servicio en varios grupos menores y homogéneos.
        p            
            strong.mr-2 Segmentación demográfica:
            | subdivisión de mercados basados en factores de población como tamaño, edad y crecimiento.
        p            
            strong.mr-2 Segmentación geográfica:
            | subdivisión de mercados basados en factores como la ubicación de la población.
        p            
            strong.mr-2 Segmentación psicográfica:
            | subdivisión de mercados basados en factores como la dimensión de la personalidad, características de estilo de vida y valores.
        p            
            strong.mr-2 Servicio:
            | actividad identificable e intangible que es el principal objeto de una transacción destinada a proveer satisfacción de necesidades o deseos.