.container#page-introduccion
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white  
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/No9yQXsjmXM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        p.mt-5 La exigencia de los mercados y su crecimiento, hace que las empresas se preocupen por definir los gustos de los consumidores; de esta forma es posible concentrar esfuerzos hacia la especificación y concreción del producto requerido, ampliando su posibilidad de venta y, junto a ella, la reducción de costos en el mercadeo y comercialización. 
        p Para alcanzar este propósito, la investigación de mercados cobra gran relevancia, al aportar los necesarios elementos de orientación, requeridos para la decisión de estrategias de mercadeo que aseguren mayores ganancias.
        p Desde esta perspectiva, la relación entre consumidor y empresa tiene gran importancia, al vincular los procesos de producción, de distribución y de venta, de acuerdo con los resultados obtenidos en la investigación de mercados. Las herramientas empleadas se fundamentan en la observación directa, las encuestas, los censos, el muestreo, la experimentación y la auditoria de tiendas, entre otras; entregando la información necesaria para la interpretación de datos sobre las reales necesidades del consumidor.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img1.svg", alt="").img-fluid
        section.mt-5 