include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Capacho, P. J. R., & Nieto, B. W. (2017). Diseño de base de datos. Barranquilla: Universidad del Norte Editorial,", "https://ebookcentral-proquest-com.bdigital.sena.edu.co.")
        +referenciaItem("Centenera, J. (2015). Comercio Exterior Investigación de Mercados [Video]. YouTube.", "https://www.youtube.com/watch?v=z4kV0TMBjCA&t=92s")
        +referenciaItem("Dos Santos. (2017). Investigación de mercados: manual universitario. Ediciones Diaz de Santos, S.A.", "https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/detail.action?docID=5190269&query=INVESTIGACION+DE+MERCADOS")
        +referenciaItem("Fernández. (2009). Libro segmentación de mercados. McGraw – Hill.", "https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/detail.action?docID=4183555&query=segmentacion")
        +referenciaItem("Fernández, T. A. (2004). Claves para la implantación del cuadro de mando integral.", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Flores, M. J. C. (2004). El sistema de información para marketing, clave de negocio. Ediciones Deustos – Planeta Agostini,", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Kother, P., & Armstrong, G. (2001). Marketing. New Yersey: mac grawhill.")
        +referenciaItem("Ortiz, et al. (2014) Marketing: conceptos y aplicaciones. Ediciones de la U", "https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/detail.action?docID=4183555&query=segmentacion")
        +referenciaItem("Plazas. (2011). Investigación de mercados: un enfoque gerencial. Ediciones de la U.", "https://ebookcentral-proquestcom.bdigital.sena.edu.co/lib/senavirtualsp/detail.action?docID=3199058&query=INVESTIGACION+DE+MERCADOS")
        +referenciaItem("Prieto. (2009). Investigación de mercados. ECOE Ediciones,", "https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/detail.action?docID=3198871&query=INVESTIGACION+DE+MERCADOS")
        +referenciaItem("Prieto. (2a. Ed.). (2013). Investigación de mercados. ECOE Ediciones,", "https://ebookcentral-proquest-com.bdigital.sena.edu.co/lib/senavirtualsp/detail.action?docID=4870549&query=INVESTIGACION+DE+MERCADOS")
        +referenciaItem("Ramakrishnan, R., & Gehrke, J. (3a. ed.). (2007). Sistemas de gestión de bases de datos. McGraw-Hill,", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Red bus. (2016). Red de búsqueda de información internacional [Video]. Youtube.", "https://www.youtube.com/watch?v=BZ9Nm9qXMXE")
        +referenciaItem("Salgueiro, A. (2001). Indicadores de gestión y cuadro de mando. Ediciones Diaz de Santos,", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")
        +referenciaItem("Sepúlveda, G. H. (2009). CRM: Customer relationship management. El Cid Editor,", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")   
        +referenciaItem("SENA. (2020). Instructivo uso del estilo APA 7 EDICION.", "http://biblioteca.sena.edu.co/images/PDF/InstructivoAPA.pdf")  
        +referenciaItem("Velasco, S. J. (2013). Gestión de la logística en la empresa: Planificación de la cadena de suministros", "https://ebookcentral-proquest-com.bdigital.sena.edu.co")                       
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            